name: Create Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: 1.24
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8

  goreleaser:
    runs-on: ubuntu-latest
    needs: lint
    steps:
        - name: Checkout
          uses: actions/checkout@v4
          with:
            fetch-depth: 0

        - name: Set up Go
          uses: actions/setup-go@v5
          with:
            go-version: 1.24

        - name: Check mod files
          run: |
            go mod tidy
            git diff --exit-code go.mod go.sum

        - name: Verify module hashes
          run: go mod verify

        - name: Run GoReleaser
          uses: goreleaser/goreleaser-action@v6
          with:
            distribution: goreleaser
            version: "~> v2"
            args: release --clean
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}